html {
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins";
	margin: 0;
	color: white;
	background: #16161a;
}

nav {
	top: 0;
	padding: 5px;
	width: 100vw;
	height: 60px;
	z-index: 99; /*menetapkan navigation agar tetap berada paling atas (diantara elemen HTML lainnya)*/
	display: flex; /*membagi navigation menjadi 2 bagian (kanan kiri)*/
	background: lightgrey;
	position: fixed; /*membuat posisi pada 'navigation' agar tidak berpindah*/
}

.nav-left {
	width: 50vw;
	display: flex; /*dibagi menjadi 2 bagian untuk logo dan teks*/
	align-items: start; /*membuat posisi secara vertikal agar ditengah*/
}
.nav-left > h2 {
	font-size: 16px;
	color: #16161a;
	margin: 5px;
}
.nav-right {
	width: 50vw;
	margin-right: 60px;
	display: flex; /*membagi navigation bagian kanan untuk */
	justify-content: end; /*membuat elemen dalam class 'nav-right' bagian kanan*/
	align-items: center; /*vertical center*/
	color: #16161a;
}
.nav-right > a {
	text-decoration: none; /*menghilangkan dekorasi pada teks, seperti underline*/
	color: #16161a;
	font-size: 16px;
	padding: 0 5px;
}

/* Style navigation pada "Divisions" */
.nav-div {
	cursor: pointer;
}
.nav-div > div {
	margin: 35px 60px -50px 0;
	display: flex;
	flex-direction: column;
	position: absolute;
}
.nav-div a {
	color: whitesmoke;
	text-decoration: none;
	font-size: 16px;
	padding: 0 5px;
}
.nav-div a:hover {
	background-color: lightgrey;
	color: #16161a;
}

#scc-home {
	height: 80vh;
	margin-top: 80px;
	display: flex;
}
#scc-home > div {
	width: 50vw;
	display: flex;
	flex-direction: column; /*mengubah arah flex, yang biasanya melebar kesamping menjadi kebawah*/
	justify-content: center; /*horizontal center, tetapi karna menggunakan flex-direction:column; maka berubah menjadi vertical center*/
	align-items: center;
	text-align: center;
}
.home-leftside {
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.home-leftside > h1 {
	font-size: 40px;
	text-align: center;
}

/* button */
.home-button {
	background-color: transparent;
	border-color: white;
	color: white;
	border-radius: 20px;
	padding: 5px 10px;
	font-size: 18px;
}
.home-button:hover {
	background-color: blue;
	border-color: transparent;
}

/* SCC - divions */
#scc-divisions {
	width: 100%;
	padding-top: 80px;
	text-align: center;
}
.divisions {
	display: grid;
	justify-content: space-evenly;
	grid-template-columns: 30% 30% 30%; /*mengatur elemen setiap div dalam class "divisions"*/
}
.divisions > a {
	padding: 20px;
	margin: 10px;
	border: 1px solid white;
	border-radius: 20px;
	color: white;
	text-decoration: none;
}
.divisions > a:hover {
	background-color: lightgrey;
	color: #16161a;
}

hr {
	margin: 80px auto 0 auto;
	width: 90vw;
}

#first-division,
#second-division,
#fifth-division {
	text-align: center;
	padding: 80px 5% 80px 5%;
}
.div-app {
	display: flex;
	justify-content: space-evenly; /*membuat jarak diantara tag div*/
	text-align: center;
}
.div-app > div {
	width: 30%;
	margin: 0 3%;
	border: 1px solid white;
	border-radius: 20px;
}
.div-app img {
	margin: 20px;
	width: 50%;
}

.text-division > p {
	padding: 0 20px 20px 20px;
	text-align: center;
}
